body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}
